body {
    font-family: 'Raleway', sans-serif;
}

#dolar {
    cursor: pointer !important;
}

.danger {
border: 1px solid #dd0000 !important;
}

th.head-primary {
    color: #51cbce!important;
}
.fas {
    font-size: 3rem !important;
}

.sidebar {
    width: 260px;
    transition:cubic-bezier(1, 0, 0, 1);
    animation-name: sidebarCollapseAnimation;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

.sidebar--collapsed
{
    width: 120px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}


.sidebar-wrapper--collapsed
{
    position: relative;
    max-height: none;
    min-height: 100%;
    overflow: hidden;
    z-index: 4;
  box-shadow: inset -1px 0px 0px 0px #dddddd;
}

#sync-dolar {
    cursor: pointer;
    padding: 0.5rem !important;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-item
{
    
    font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    line-height: 30px;

}

.nav-item > a > p 
{
    color: #66615b !important;
}

p.nav-brand {

    cursor: default;
}

select#edit-fundos {
    max-width: 100%;
}

input#change-value {
    max-width: 100%;
}

.d-none {
    display: none !important;
}

.w-75 {
    width: 75%;
}
.mw-100 {
    min-width: 100%;
}
.mw-75 {
    min-width: 75%;
}
.mw-50 {
    min-width: 50%;
}

.mx-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

.my-2 {
    margin-top :2rem !important;
    margin-bottom:2rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}
.ml-1 {
    margin-left: 1rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mb-4 {
    margin-bottom: 4rem !important;
}

.m-4 {
    margin: 4rem !important;
}

.p-1 {
    padding: 1rem !important;
}
.p-2 {
    padding: 2rem !important;
}

.py-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.px-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.px-4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.p-4 {
    padding: 4rem !important;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.w-50 {
    width: 50%;
}

li.active a p {
    color: #EB5E28;
}

li a p {
    font-size:16px !important;
}

.menu-item {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    cursor: default;
}

.menu-item:hover {
    opacity: 100%;
    cursor: pointer;
}

.mr-2 {
    margin-right: 2% !important;
}

.inactive {
    opacity: 50%;
}