<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hamilton Rios</title>

  <!-- FAVICON -->
  <link rel="icon" href="./images/favicon.ico" />

  <!--  GOOGLE -->
  <meta name="google-signin-client_id"
    content="972835792340-3m1k3q9chcsv1vqfjoq3kiplnejt7tpf.apps.googleusercontent.com" />
  <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

  <!--  BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

  <!--  JQUERY -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!--  FONT AWESOME -->
  <link href="https://hamiltonrios.web.app/assets/css/all.min.css">

  <script defer src="https://hamiltonrios.web.app/assets/js/all.min.js"></script>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap" rel="stylesheet">

  <!--  PAPER DASHBOARD -->
  <link href="https://hamiltonrios.web.app/assets/css/animate.min.css" rel="stylesheet">
  <link href="https://hamiltonrios.web.app/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://hamiltonrios.web.app/assets/css/paper-dashboard.css" rel="stylesheet">

  <!--  CUSTOM CODE -->
  <link href="https://hamiltonrios.web.app/assets/css/styles.css" rel="stylesheet">
  <link src="https://hamiltonrios.web.app/assets/css/animation.css" rel="stylesheet">

  <!-- <script src="http://localhost:5000/scripts/dolar.js" ></script> -->

  <style media="screen">
    body {
      background: #ECEFF1;
      color: rgba(0, 0, 0, 0.87);
      font-family: Roboto, Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
  </style>

</head>

<body>

  <div id="body-wrapper" class="wrapper">


    <div class="sidebar">

      <div class="sidebar-wrapper">
        <!-- 
        <div id="collapse-sidebar-div" class="container-fluid d-flex flex-row justify-content-end m-2">
          <button id="collapse-sidebar-btn" class="btn">collapse</button>
        </div> -->

        <div class="logo">
          <h2 id="logo-text" class="simple-text">Hamilton Rios</h2>
        </div>
        <ul class="nav">
          <li class="">
            <a class="d-flex flex-row align-items-center " href="/default/dashboard">
              <i style="font-size: 2.5rem; margin-right: 1rem;" class="fas fa-university m-2"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class=" active">
            <a class="d-flex flex-row" href="/default/fundos">
              <i style="font-size: 2.5rem; margin-right: 1rem;" class="fas fa-piggy-bank active"></i>
              <p>Fundos</p>
            </a>
          </li>
          <li class="">
            <a class="d-flex flex-row" href="/default/embarques">
              <i style="font-size: 2.5rem; margin-right: 1rem;" class="fas fa-shipping-fast"></i>
              <p>Embarques</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">

      <nav class="navbar navbar-default d-flex justify-content-start">
        <div style="display:flex;min-height: 109px;" class="justify-content-start flex-fill">

          <div class="navbar-header d-flex flex-column flex-fill justify-content-center ">
            <p class="navbar-brand">
              DOLAR:
              
              <span id='dolar'></span>
              
              <button id="sync-dolar"  type='button' class='btn border-input m-1'>
                <i class="fas fa-sync"></i>

              </button>
            </p>

              <div id="edit-dolar" class="collapse">
                <input id='edit-dolar-input' type="text" class='border-input m-2' />
                <button id='edit-dolar-button' type='button' class='btn border-input m-1 p-1'>
                  <i class="fas fa-check"></i>
                </button>
              </div>

            <small style="margin-left: 1.6rem;" id="dolar-timestamp">timestamp</small>
          </div>
          

          <div class='d-flex align-self-center' id="curren-user">
            <span id="username"></span>
          </div>

          <button id="logout" type="button" onclick="logout()" class="btn btn-danger mx-2">
            <i class="fas fa-power-off"></i>
          </button>
        </div>
      </nav>


      <div class="content">
        <div class="container-fluid">

         

          <div class="card">
            <div class="card-header d-flex flex-row align-items-center">
              <div class="d-flex">
                <h3 style='color:#666' class="card-title">Caixa</h3>
              </div>

              <div class="container-fluid d-flex flex-row justify-content-end">
                <button id='refresh-fundos' type="button" class="btn">
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>

            </div>
            <div style="padding: 0!important;" class="card-body">
              <table class='table table-striped table-hover'>
                <thead >
                  <tr>
                    <th class='head-primary'>
                      Nome do Fundo
                    </th>
                    <th class='head-primary'>
                      Valor Real (R$)
                    </th>
                    <th class='head-primary'> 
                      Valor Dolar (USD)
                    </th>
                    <th class='head-primary'>
                      Opções
                    </th>
                  </tr>
                </thead>

                <tbody id='fundos'>

                </tbody>



              </table>
            </div>
            <div class="card-footer">
              <span class="total">Total: </span>

            </div>
          </div>

          <div class="card">
            <div class="header">

              <span id="new-fund" class="title menu-item mr-2 inactive">Novo Fundo</span>
            </div>


            <div class="content d-flex justify-content-center m-2 w-100">

              <form id="form-fundos" class='form w-50'
                method="POST">
                <div class="row d-flex justify-content-center">

                  <!-- <div id="edit-funds-card" class="form-group mw-75 ">
                    <label for='edit-fundos'>Escolha o fundo:</label>
                    <select id='edit-fundos' name='selection' class="form-control border-input mb-2" aria-placeholder="fundo"
                      required></select>
                      <label for="change-value">Entre novo o valor:</label>
                    <input type="text" name="change-value" id="change-value" class="form-control border-input mb-2"
                      placeholder="R$ 0,00" required>
                  </div> -->

                  <div id="new-fund-card" class="form-group mw-75">
                    <label for='edit-fundos'>Adcionar novo fundo:</label>
                    <input id='new-fundo' name='new-fundo' class="form-control border-input mb-2" placeholder="nome"
                      required></input>
                    <label for="new-value">Entre o valor:</label>
                    <input type="text" name="new-value" id="new-value" class="form-control border-input mb-2"
                      placeholder="R$ 0,00" required>
                  </div>

                  <div id="confirm-div" class="row mw-75">
                    <div class="d-flex flex-row justify-content-end col">

                      <input id="confirm-fundo" class='btn my-2' type="submit" form="fundos-form"
                        value="Confirmar"></input>

                    </div>
                  </div>

                </div>






              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

                <!-- Modal -->
                <div class="modal" id="edit-fund-modal" tabindex="-1" role="dialog" aria-labelledby="Editar o valor do fundo" 
                  aria-hidden="true" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editFundoModalLabel">Editar fundo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body edit-body form-group">
                          <form method='POST' name='edit-fund'>

                            <label for="edit-fund-name">Insira um novo nome para o fundo:</label>
                            <input id="edit-fund-name" type="text" name="edit-fund-name" placeholder="" class='form-control border-input m-2'>

                            <label for="edit-fund-value">Insira o novo valor para o fundo:</label>
                            <input id="edit-fund-value" type="text" name="edit-fund-value" placeholder="R$ 0,00" class='form-control border-input m-2'>
                            
                            <input id="edit-fund-id" type="text" name="edit-fund-value" style="display: none;">
                            
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="confirm-edit-fundo" type="button" class="btn btn-primary">Salvar mudanças</button>
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="modal" id="delete-fund-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteFundoModalLabel">Deletar fundo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div id='delete-body' class="modal-body delete-body">
                        
                        <div id='delete-info'></div>

                        <input id="delete-fund-id" type="text" style="display: none;">

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id='confirm-delete-fundo' type="button" data-dismiss="modal" class="btn btn-danger">Quero deletar mesmo assim</button>
                      </div>
                    </div>
                  </div>
                </div>
  <!--  JS  -->
  <script src="https://hamiltonrios.web.app/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="https://hamiltonrios.web.app/assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://hamiltonrios.web.app/assets/js/bootstrap-notify.js"></script>
  <script src="https://hamiltonrios.web.app/assets/js/paper-dashboard.js" type="text/javascript"></script>

  <script src="https://hamiltonrios.web.app/scripts/constants.js"></script>
  <script src="https://hamiltonrios.web.app/scripts/edit.js"></script>
  <script src="https://hamiltonrios.web.app/scripts/dolar.js"></script>


  <!-- <script src="http://localhost:5000/scripts/edit.js"></script>
  <script src="http://localhost:5000/scripts/dolar.js"></script>
  <script src="http://localhost:5000/scripts/constants.js"></script> -->
  
  <script>


    // LOAD GOOGLE AUTH
    window.onLoadCallback = function () {

      gapi.load('auth2', function () {

        auth2 = gapi.auth2.init({
          client_id: "972835792340-81lomg4sb1ggpa31ad87irild3fcnftc.apps.googleusercontent.com",
          cookiepolicy: 'single_host_origin',

        });
      })
    }
    


    function modalDeleteFundo(id, nome) {
      $("#delete-info").html(`<p>Tem certeza que quer deletar o fundo <span id='delete-fund-name'>${nome}</span> ?</p>`)
      $("#delete-fund-id").val(id)
    }
    function deleteFundo(id) {

      console.log(id)

      $.ajax({
        type:'DELETE',
        url: BASEURL + '/api/fundos/' + id.toString(),
        xhrFields: {
          withCredentials: true
        },
        success:  function(data) {
          console.log(data)
          queryDatabase()
        },
        error: function(error) {
          console.log(error)
        }
        })
      }
      
    async function queryDatabase() {
      cleanTable()

      $.ajax({
        type: 'GET',
        url: FUNDOS_URL,
        xhrFields: {
          withCredentials: true
        },
        success: function (data) {
          loadFundos(data)
        },
        error: function (xhr, status, error) {
          console.log(error)
        }
      })
    }
    
    async function loadFundos(data, status, xhr) {

      let dolar_set = localStorage.getItem("dolar_set")

      if(!dolar_set)
        await getDolarFromDatabase();

      let dolar_timestamp = localStorage.getItem("dolar_timestamp")
      let dolar_quote = localStorage.getItem("dolar_quote")
      var total = 0

      if(Object.keys(data).length < 1)
        {

         $("#fundos").append( $('<div>').text('Nenhum fundo aqui').addClass('d-flex m-3 ') )
        }

      Object.entries(data).map( (fundo_arr, i ) => {
        let td = document.createElement('td')
        
        let fundo = fundo_arr[1]
        valor_real = parseFloat(fundo.REAL).toFixed(2)
        valor_dolar = parseFloat(valor_real * 1 / dolar_quote).toFixed(2)
        total = parseFloat(total) + parseFloat(valor_real)

        
        var $tr = $(`<tr class=${fundo_arr[0]}>`).append(
          $('<td>').text(fundo.NOME),
          $('<td>').text("R"+parseCurrency(valor_real)),
          $('<td>').text(parseCurrency(valor_dolar)),
          $('<td>').append(
            $('<div>').addClass("d-flex justify-content-center").append(
              $('<button>').attr({
                "type":"button",
                "data-toggle": "modal",
                "data-target": "#edit-fund-modal"
              })
              .on('click', (event) => editFundo(event, fundo.NOME, fundo.REAL, fundo_arr[0]) )
              .addClass('btn btn-primary-outline mx-1 edit-fund e'+i)
              .append(
                $('<i>').addClass('fas fa-edit').attr("style", "color:#666;")
              ),
              $('<button>').attr({
                "type":"button",
                "data-toggle": "modal",
                "data-target": "#delete-fund-modal",
                "style": "color:#DD0000"
              })
              .on('click', (event) => modalDeleteFundo(fundo_arr[0], fundo.NOME))
              .addClass('btn danger mx-1 delete-fund d'+i)
              .append(
                $('<i>').addClass('fas fa-times').attr("style", "color:#DD0000;")
                )
            )
          )
        );

        $('#fundos').append($tr)
      })

      let total_dolar = parseFloat(total * (1 / dolar_quote)).toFixed(2);
      
      $('.total').text(`Total: R${parseCurrency(total)}     ${parseCurrency(total_dolar)}`)
      localStorage.setItem('fundos', JSON.stringify(data))
    }

    async function submitFundo(event) {
      let noerror = true
      var data = {
        editMode: false
      }
      var errors = {
        NOME: "Insira um nome para o fundo",
        REAL: "Insira um valor para o fundo",
      }

      var success = 'Banco de dados atualizado com sucesso!'

      data = {
        "NOME": $("#new-fundo").val(),
        "REAL": $("#new-value").val()
      }
      console.log($("#change-value").val());

      if (data.REAL == undefined || data.NOME.length === 0) {
        $("#new-fundo").addClass("has-error");
        $("#new-fund-card").append('<div class="help-block">' + errors.NOME + "</div>");
        noerror = false
      }
      if (data.REAL == undefined || data.REAL.length === 0 || !parseFloat(data.REAL))  {
        $("#new-value").addClass("has-error");
        $("#new-funds-card").append('<div class="help-block">' + errors.REAL + "</div>");
        noerror = false
      }
    

      if (noerror) {
        console.log(data);
        $.ajax({
          type: 'POST',
          url: FUNDOS_URL,
          data: data,
          dataType: "json",
          enconde: true,
          xhrFields: {
            withCredentials: true
          },
          success: () =>  {
            queryDatabase()
            $("new-funds-card").append('<div class="help-block">' + success + "</div>")
          }
        })
      }
      else
      {
        $("new-funds-card").append('<div class="help-block">' + success + "</div>")
      }      
      event.preventDefault();
}

    async function submitEditFundo(event) {
        console.log(event.target)
      let noerror = true
      var data = {}

      var errors = {
        NOME: "Insira um nome para o fundo",
        REAL: "Insira um valor para o fundo",
      }

      var success = 'Banco de dados atualizado com sucesso!'

      data = {
        NOME: $("#edit-fund-name").val(),
        REAL: $("#edit-fund-value").val()
      }

      if ( !data.NOME || data.NOME.length === 0) {
        $("#new-fundo").addClass("has-error");
        $("#new-fund-card").append('<div class="help-block">' + errors.NOME + "</div>");
        noerror = false
      }
      if ( !data.REAL || data.REAL.length === 0) {
        $("#new-value").addClass("has-error");
        $("#new-funds-card").append('<div class="help-block">' + errors.REAL + "</div>");
        noerror = false
      }

      let fundos = await localStorage.getItem('fundos')

      let id = $('#edit-fund-id').val()

      if (noerror) {
        console.log(data);
        $.ajax({
          type: 'POST',
          url: FUNDOS_URL + '/' + id,
          data: JSON.stringify(data),
          dataType: "text",
          enconde: true,
          xhrFields: {
            withCredentials: true
          },
          success: () => {
        
            queryDatabase()
            $("new-funds-card").append('<div class="help-block">' + success + "</div>")
          }
            
        })
      }

      event.preventDefault()

    }

    function editFundo(event, nome, real, id) {
      $('#edit-fund-name').val(nome)
      $('#edit-fund-value').val(real)
      $('#edit-fund-id').val(id)

    }

    function logout() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        location.assign(BASEURL + '/login')
      });
    }

    const USERNAME = localStorage.getItem('username')
    const DOLAR_QUOTE = localStorage.getItem('dolar_quote') || ''
    const DOLAR_TIMESTAMP = localStorage.getItem('dolar_timestamp') || ''

    var storage = JSON.parse(localStorage.getItem('fundos')) || false
    var sidebarOpen = true;
    var editMode = false;

    function bindjs() {

      $("#collapse-sidebar-btn").on("click", () => {
        $(".nav").toggleClass("collapse")
        $(".sidebar").toggleClass("collapse")
        $(".sidebar--collapsed").toggleClass("collapse")

        sidebarOpen = !sidebarOpen
      })

      $("#refresh-fundos").on("click", (event) => queryDatabase())

      $("#confirm-fundo").on("click", (event) => submitFundo(event))
      $("#confirm-edit-fundo").on("click", (event) => submitEditFundo(event))
      $('#confirm-delete-fundo').on("click", (event) => {

        let id = $("#delete-fund-id").val()

        deleteFundo(id)
      })
    }

    document.addEventListener('DOMContentLoaded', function () {
      $("#username").text(USERNAME.replace(/"/g, ""))

      bindjs()
      bindDolarHtml(DOLAR_QUOTE, DOLAR_TIMESTAMP)

      if ( storage ) {
        loadFundos(storage)
      } else {
        queryDatabase()
      }
      

    })
  </script>
</body>

</html>